[Desktop Entry]
Name=Tide Island
Comment=Dynamic Island for Hyprland and niri
Exec=/usr/bin/tide-island
Icon=preferences-desktop-notification
Terminal=false
Type=Application
Categories=Utility;
Keywords=hyprland;niri;quickshell;island;
NoDisplay=true